{{define "header"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP Emailer - Contact Your Representative</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
</head>

<body>
    <header class="bg-blue-700 text-white text-center py-4">
        <h1 class="text-4xl font-bold">MP Emailer</h1>
        <p class="text-lg mt-2">Contact Your Representative Easily</p>
    </header>
{{end}}
