{{template "header" .}}
{{template "nav" .}}
<main>
    <h1>Campaigns</h1>
    <a href="/campaigns/new" class="button">Create New Campaign</a>
    
    {{if .Campaigns}}
        <ul class="campaign-list">
            {{range .Campaigns}}
            <li class="campaign-item">
                <h2><a href="/campaigns/{{.ID}}" class="button">{{.Name}}</a></h2>
            </li>
            {{end}}
        </ul>
    {{else}}
        <p>No campaigns found. Create a new campaign to get started.</p>
    {{end}}
</main>
{{template "footer" .}}