{{template "app.gohtml" .}}

{{define "content"}}
<main class="max-w-4xl mx-auto p-8">
    <h1 class="text-3xl font-bold mb-4">Email to Member of Parliament</h1>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <p class="mb-4"><strong>To:</strong> {{.Data.Email}}</p>
        <div class="border-t pt-4">
            <div class="whitespace-pre-wrap">{{.Data.Content}}</div> <!-- Ensure this is not escaped -->
        </div>
    </div>
</main>
{{end}}
