{{template "app.gohtml" .}}
{{define "content"}}
<main>
    <h1>MP Emailer</h1>
    <form action="/submit" method="post">
        <label for="postalCode">Enter your postal code:</label>
        <input type="text" id="postalCode" name="postalCode" required>
        <input type="submit" value="Find MP">
    </form>
</main>
{{end}}
